[Unit]
Description=link pipewire when motu is connected
After=pipewire.service
Requires=pipewire.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart={{ .chezmoi.homeDir }}/.local/bin/motu
