[Unit]
Description=PipeWire Links
After=pipewire.service
Requires=pipewire.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/home/jrubin/bin/pwlink.sh

[Install]
WantedBy=pipewire.service
