[Unit]
Description=RaySession Daemon

[Service]
ExecStartPre=/usr/bin/jack_control start

ExecStartPre=/usr/bin/jack_control eps realtime          true
ExecStartPre=/usr/bin/jack_control eps realtime-priority 20

ExecStartPre=/usr/bin/jack_control ds alsa

ExecStartPre=/usr/bin/jack_control dps device   hw:M4,0
ExecStartPre=/usr/bin/jack_control dps rate     96000
ExecStartPre=/usr/bin/jack_control dps period   512
ExecStartPre=/usr/bin/jack_control dps nperiods 2
ExecStartPre=/usr/bin/jack_control dps hwmon    false
ExecStartPre=/usr/bin/jack_control dps hwmeter  false

ExecStartPre=-/usr/bin/jack_control dps dither s

ExecStart=/usr/bin/ray-daemon --session-root "/home/jrubin/Ray Sessions" -s Default

ExecStop=/usr/bin/ray_control close
TimeoutStopSec=5

Restart=on-failure

[Install]
WantedBy=default.target
