[Unit]
Description=rigctld

[Service]
ExecStart=/usr/bin/rigctld -m 3073 -r /dev/ttyUSB0 -T ::1 -t 4532
Restart=on-failure

[Install]
WantedBy=default.target
