{{- $numcpu := "" -}}
{{- if hasKey . "numcpu" -}}
{{-   $numcpu = .numcpu -}}
{{- else -}}
{{-   $numcpu = 1 -}}
{{- end -}}

{{- $secrets := "" -}}
{{- if hasKey . "secrets" -}}
{{-   $secrets = .secrets -}}
{{- else -}}
{{-   $secrets = 1 -}}
{{- end -}}

{{- $gpg := "" -}}
{{- if hasKey . "gpg" -}}
{{-   $gpg = .gpg -}}
{{- else -}}
{{-   $gpg = 1 -}}
{{- end -}}
---
remove: true
data:
  numcpu: {{ $numcpu }}
  secrets: {{ $secrets }}
  gpg: {{ $gpg }}
diff:
  pager: delta
