[alias]
	sts = status
	st = status
	ci = commit -s
	am = am -s
	di = diff
	dis = diff
	dft = difftool
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	patch = --no-pager diff --no-color
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
[color "diff-highlight"]
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
	oldNormal = red bold
[core]
	excludesfile = ~/.gitignore
	pager = delta
[pager]
	difftool = true
[delta]
	side-by-side = true
	commit-style                  = bold yellow
	file-style                    = bright-yellow
	hunk-header-style             = bold syntax
	minus-style                   = syntax "#340001"
	minus-non-emph-style          = bold red
	minus-emph-style              = bold red 52
	minus-empty-line-marker-style = normal "#3f0001"
	zero-style                    = normal
	plus-style                    = syntax "#012800"
	plus-non-emph-style           = bold green
	plus-emph-style               = bold green 22
	plus-empty-line-marker-style  = normal "#002800"
	whitespace-error-style        = reverse purple
	line-numbers-minus-style      = 88
	line-numbers-zero-style       = "#444444"
	line-numbers-plus-style       = 28
	line-numbers-left-style       = blue
	line-numbers-right-style      = blue
	syntax-theme = gruvbox-dark
	navigate = true
[interactive]
	diffFilter = delta --color-only
[apply]
	whitespace = nowarn
[mergetool]
	keepBackup = false
[diff]
	colorMoved = default
	tool = difftastic
[difftool]
	prompt = false
	trustExitCode = true
[difftool "vimdiff"]
	path = nvim
[difftool "idiff"]
	cmd = diff -i --unified --ignore-space-change --ignore-blank-lines --ignore-all-space $LOCAL $REMOTE
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[help]
	autocorrect = 1
[push]
	default = upstream
	followTags = true
	autoSetupRemote = true
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[tag]
	sort = version:refname
{{- if .gpg }}
	forceSignAnnotated = true
{{- end }}
[user]
	name = Joshua Rubin
	email = {{ .email }}
[commit]
{{- if .gpg }}
	gpgSign = true
{{- end }}
	template = ~/.gitmessage
[http]
	cookiefile = ~/.gitcookies
{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
{{- else if eq .chezmoi.hostname "balerion" }}
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
{{- else if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
{{- end }}
[rerere]
	enabled = true
[protocol "keybase"]
	allow = always
[init]
	defaultBranch = main
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.gitconfig.github
[includeIf "hasconfig:remote.*.url:https://github.com/groqcloud/**"]
	path = ~/.gitconfig.groq
[includeIf "hasconfig:remote.*.url:https://github.com/groq-psw/**"]
	path = ~/.gitconfig.groq

# vim: ft=gitconfig noexpandtab
