# STARTUP ORDER
#
# 1. /etc/zshenv
#    ~/.zshenv
#
# 2. /etc/zprofile (login)
#    ~/.zprofile
#
# 3. /etc/zshrc    (interactive)
#    ~/.zshrc
#
# 4. /etc/zlogin   (login)
#    ~/.zlogin

#
# Editors
#

export PAGER='less'

if (( $#commands[vim] )); then
  export EDITOR="vim"
  export VISUAL="vim"
fi

if (( $#commands[nvim] )); then
  export EDITOR="nvim"
  export VISUAL="nvim"
fi

#
# Language
#

if [[ -z "$LANG" ]]; then
  export LANG='en_US.UTF-8'
fi

if [[ -z "$LC_ALL" ]]; then
  export LC_ALL=$LANG
fi

#
# Paths
#

# Ensure path arrays do not contain duplicates.
typeset -gU cdpath fpath path

# Set the list of directories that Zsh searches for programs.
path=(
  ${HOME}/Library/Python/3.7/bin
  ${HOME}/Library/Python/2.7/bin
  ${HOME}/.gem/ruby/2.3.0/bin
  ${HOME}/.gem/ruby/2.5.0/bin
  ${HOME}/.gem/ruby/2.6.0/bin
  ${HOME}/.gem/ruby/2.7.0/bin
  ${HOME}/.gem/ruby/3.0.0/bin
  /opt/google-cloud-sdk/bin
  /usr/local/go/bin
  /usr/local/opt/mysql-client/bin
  $path
)

cdpath=(
  .
  ${HOME}
  ${HOME}/dev
)

#
# Less
#

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
export LESS='-F -g -i -M -R -X'

# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

# Treat these characters as part of a word.
WORDCHARS='*?_-.[]~&;!#$%^(){}<>|'

PROMPT_LEAN_VIMODE="1"

{{ if .gpg -}}
export GPG_TTY=$(tty)
{{- end }}
export MAKEFLAGS='-j {{ .numcpu }}'
export MAGE_VERBOSE=1
export XZ_DEFAULTS='--threads=0'

export AWS_DEFAULT_REGION='us-west-2'
export AWS_DEFAULT_OUTPUT='json'
export AWS_SDK_LOAD_CONFIG='1'

export _FASD_BACKENDS='native nviminfo'
export RIPGREP_CONFIG_PATH="${HOME}/.ripgreprc"
export SSH_AUTH_SOCK="${HOME}/.1password/agent.sock"

{{ if eq .chezmoi.hostname "balerion" -}}
alias open=xdg-open

export WINEARCH=win32

typeset -xU nix_path
typeset -xT NIX_PATH nix_path :
nix_path=(
  nixpkgs=/nix/var/nix/profiles/per-user/root/channels/nixpkgs
  $HOME/.nix-defexpr/channels
  /nix/var/nix/profiles/per-user/root/channels
  $nix_path
)

. $HOME/.nix-profile/etc/profile.d/hm-session-vars.sh
{{- end }}

# vim: ft=zsh
