# STARTUP ORDER
#
# 1. /etc/zshenv
#    ~/.zshenv
#
# 2. /etc/zprofile (login)
#    ~/.zprofile
#
# 3. /etc/zshrc    (interactive)
#    ~/.zshrc
#
# 4. /etc/zlogin   (login)
#    ~/.zlogin

# Enable viins mode by default
bindkey -v

# Language
#

if [[ -z "$LANG" ]]; then
  export LANG='en_US.UTF-8'
fi

if [[ -z "$LC_ALL" ]]; then
  export LC_ALL="${LANG}"
fi

#
# Paths
#

# Ensure path arrays do not contain duplicates.
typeset -gU cdpath fpath path

# Set the list of directories that Zsh searches for programs.
path=(
  /opt/google-cloud-sdk/bin
  $path
)

cdpath=(
  .
  ${HOME}
  ${HOME}/dev
)

# Treat these characters as part of a word.
WORDCHARS='*?_-.[]~&;!#$%^(){}<>|'

# hack to show hostname if connected over wezterm mux
[ "${WEZTERM_EXECUTABLE#*wezterm-mux-server}" != "${WEZTERM_EXECUTABLE}" ] && SSH_CONNECTION=1

PROMPT_LEAN_VIMODE="1"

{{- if .gpg }}

export GPG_TTY="$(tty)"
{{- end }}

export MAKEFLAGS='-j {{ .numcpu }}'
export MAGE_VERBOSE=1
export XZ_DEFAULTS='--threads=0'

export AWS_DEFAULT_REGION='us-west-2'
export AWS_DEFAULT_OUTPUT='json'
export AWS_SDK_LOAD_CONFIG='1'

export _FASD_BACKENDS='native nviminfo'
export RIPGREP_CONFIG_PATH="${HOME}/.ripgreprc"
{{- if ne .chezmoi.os "darwin" }}{{ if .secrets }}

if [[ -z "${SSH_AUTH_SOCK}" ]]; then
  export SSH_AUTH_SOCK="${HOME}/.1password/agent.sock"
fi
{{- end }}{{ end }}
{{- if eq .chezmoi.os "linux" }}

alias open=xdg-open
export WINEARCH=win32
{{- end }}
{{- if eq .chezmoi.hostname "jrubin" }}

export COPILOT_DISABLED=1
export SSH_AUTH_SOCK="$(ss -lnp | rg 'ssh.*agent' | awk '{print $5}')"
export SFT_AUTH_SOCK="$(ss -lnp | rg client_trust | awk '{print $5}')"
{{- end }}

# vim: ft=zsh
