# vim: ft=zsh

{{ if and (eq .chezmoi.os "darwin") .secrets -}}
export HOMEBREW_GITHUB_API_TOKEN="{{ pass "chezmoi/github/homebrew" }}"
{{ end -}}
export NGROK_HOME="${HOME}/ngrok"
export NGROK_JOBS="{{ .numcpu }}"
export NGROK_DEVENV_TAG="jawa"

alias ngrok.dev="${NGROK_HOME}/devenv/enter.sh"
alias nd='ngrok.dev'
