[rubix]
aws_access_key_id = {{ (onepasswordItemFields "ezjir5vyvybc4vaee2qpoffhhm").aws_access_key_id.value }}
aws_secret_access_key = {{ (onepasswordItemFields "ezjir5vyvybc4vaee2qpoffhhm").aws_secret_access_key.value }}

[moed]
aws_access_key_id = {{ (onepasswordItemFields "d746wsuggrfarlzr3ir5hbojau").aws_access_key_id.value }}
aws_secret_access_key = {{ (onepasswordItemFields "d746wsuggrfarlzr3ir5hbojau").aws_secret_access_key.value }}
