Host *
  IdentityAgent ~/.1password/agent.sock
  ControlMaster auto
  ControlPersist 300
  ControlPath ~/.ssh/connections/%r_%h_%p

Host syrax pi3 balerion pi4
  # forward local port 2489 for lemonade copy/paste server
  RemoteForward 2489 127.0.0.1:2489

Host syrax
  HostName syrax.rubixconsulting.com

Host pub1
  HostName pub1.rubixconsulting.com

Host pi4
  HostName pi4.local
  User pi

Host github.com
  User git

Host balerion
  HostName balerion.local

Host et
  HostName 74.93.234.253
  Port 2222

Host balerion-backup
  HostName 10.0.5.10
  Port 2222
  User balerion-backup

Host pi-star
  HostName pi-star.local
  User pi-star

{{ if eq .chezmoi.os "linux" -}}
Match exec "/usr/bin/sft resolve -q  %h"
  ProxyCommand "/usr/bin/sft" proxycommand  %h
  UserKnownHostsFile /home/jrubin/.local/share/ScaleFT/proxycommand_known_hosts
{{- else if eq .chezmoi.os "darwin" -}}
Match exec "/usr/local/bin/sft resolve -q  %h"
  ProxyCommand "/usr/local/bin/sft" proxycommand  %h
  UserKnownHostsFile "/Users/jrubin/Library/Application Support/ScaleFT/proxycommand_known_hosts"
{{- end }}

# vim: ft=sshconfig
