Host *
  ControlMaster auto
  ControlPersist 300
  ControlPath ~/.ssh/connections/%r_%h_%p
  IdentityAgent ~/.kr/krd-agent.sock
  ProxyCommand krssh %h %p
  IdentityFile ~/.ssh/id_krypton
  IdentityFile ~/.ssh/id_ed25519

Host syrax pi3 balerion
  # forward local port 2489 for lemonade copy/paste server
  RemoteForward 2489 127.0.0.1:2489

Host syrax
  HostName syrax.rubixconsulting.com

Host pub1
  HostName pub1.rubixconsulting.com
  IdentityFile ~/.ssh/id_rsa_legacy

Host pi3
  HostName 10.0.5.14
  User pi

Host github.com
  User git

Host balerion
  HostName balerion.local

Host et
  HostName 74.93.234.253
  Port 2222

Host balerion-backup
  HostName 10.0.5.10
  Port 2222
  User balerion-backup

Host ngrok
{{- if eq .chezmoi.hostname "balerion" }}
  HostName 127.0.0.1
  Port 2222
  IdentityFile ~/ngrok/vm/.vagrant/machines/ngrok/docker/private_key
{{- else if eq .chezmoi.hostname "vhagar" }}
  HostName 10.211.55.11
  Port 22
  IdentityFile /Users/jrubin/ngrok/vm/.vagrant/machines/ngrok/parallels/private_key
{{- end }}
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentitiesOnly yes
  LogLevel FATAL

# vim: ft=sshconfig
