@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: Segoe UI;
  font-size: 15px;
  min-height: 0;
  padding: 0.1rem;
}

window#waybar {
  color: @base05;
  background: @base01;
}

#workspaces button {
  padding: 0 0.5rem;
}

#workspaces button.focused {
  background-color: @base03;
}

#mode {
  background-color: @base0F;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#custom-cpufreq,
#custom-cputemp,
#custom-weather,
#tray,
#mode {
  padding: 0 0.75rem;
}

#clock {
  /* background-color: #64727d; */
}

#cpu {
  /* background: #2ecc71; */
  /* color: #000000; */
}

#memory {
  /* background: #9b59b6; */
}

#pulseaudio {
  /* background: #f1c40f; */
  /* color: black; */
}

#pulseaudio.muted {
  color: @base0F;
}

#custom-cputemp {
  /* background: #d33b1a; */
  /* color: #000000; */
}

#tray {
  border-right: 0;
  /* background-color: #2980b9; */
}
